.container
  = render "order_items/header"
  .sign_in
    = link_to image_tag("facebook_ico.png", class: 'facebook_image'), customer_omniauth_authorize_path(:facebook), class: 'facebook_auth_img_link'
    %p= t('.or')
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|

      .field
        = f.input :email, label: false, autofocus: true, placeholder: 'your email', input_html: {class: 'email_field'}

      .field
        = f.input :password, label: false, autocomplete: "off", placeholder: 'password', input_html: {class: 'password_field'}

      .actions
        = f.submit t('.submit')

    %p
      #{t('.have_account')}
      = link_to t('.sign_in'), new_customer_session_path
