.container
  = render "home/header"

  .settings
    %h2= t('.settings')
    .billing_address_settings
      %h3{class: 'address_column_title'}= t('.bill_addr')
      = simple_form_for :billing_address, url: customer_path, method: :patch do |f|
        = f.input :firstname, label: false, placeholder: 'First name', input_html: {class: 'input_form'}
        = f.input :lastname, label: false, placeholder: 'Last name', input_html: {class: 'input_form'}
        = f.input :street_address, label: false, placeholder: 'Street address', input_html: {class: 'input_form'}
        = f.input :city, label: false, placeholder: 'City', input_html: {class: 'input_form'}
        = f.country_select("country", { include_blank: 'Country' }, {class: 'input_form'})
        = f.input :zipcode, label: false, placeholder: 'Zipcode', input_html: {class: 'input_form'}
        = f.input :phone, label: false, placeholder: 'Phone number', input_html: {class: 'input_form'}
        = f.submit t('.submit'), class: "save_settings btn btn-primary"
    .shipping_address_settings
      %h3{class: 'address_column_title'}= t('.shipp_addr')
      = simple_form_for :shipping_address, url: customer_path, method: :patch do |f|
        = f.input :firstname, label: false, placeholder: 'First name', input_html: {class: 'input_form'}
        = f.input :lastname, label: false, placeholder: 'Last name', input_html: {class: 'input_form'}
        = f.input :street_address, label: false, placeholder: 'Street address', input_html: {class: 'input_form'}
        = f.input :city, label: false, placeholder: 'City', input_html: {class: 'input_form'}
        = f.country_select("country", { include_blank: 'Country' }, {class: 'input_form'})
        = f.input :zipcode, label: false, placeholder: 'Zipcode', input_html: {class: 'input_form'}
        = f.input :phone, label: false, placeholder: 'Phone number', input_html: {class: 'input_form'}
        = f.submit t('.submit'), class: "save_settings btn btn-primary"
    .email_settings
      %h3{class: 'address_column_title'}= t('.email')
      = form_for current_user, url: registration_path(current_user), method: :put   do |f|
        = f.email_field :email, class: 'input_form'
        = f.submit t('.submit'), class: "save_settings btn btn-primary"
    .password_settings
      %h3{class: 'address_column_title'}= t('.passwrd')
      = form_for current_user, url: registration_path(current_user), method: :put, html: {class: 'update_password'}  do |f|
        = f.label :old_password
        = f.password_field :current_password, autocomplete: "off", placeholder: 'Type old password', class: 'input_form'
        = f.label :new_password
        = f.password_field :password, autocomplete: "off", placeholder: 'Type new password', class: 'input_form'
        = f.submit t('.submit'), class: "save_settings btn btn-primary"
    .remove_account
      %h3{class: 'address_column_title'}= t('.rmv_account_title')
      .form_for_remove_account
        = button_to t('.btn_rmv_account'), registration_path(current_user), method: :delete, class: 'button_remove_account btn btn-primary'
        = check_box_tag :confirm_remove_account
        = label_tag :confirm_remove_account, t('.checkbox_confirm_btn_rmv')
