.container
  = render "home/header"

  .book
    %h1= @book.title
    %image{src: @book.image, class: "book_ico"}
    = form_for @order_item do |f|
      %h3{class: "book_price"} #{number_to_currency(@book.price)}
      = f.number_field :quantity, min: 1, max: @book.stock_qty, value: 1, class: "books_qty_show"
      = f.text_field :book_id, value: @book.id, type: 'hidden'
      = f.text_field :price, value: @book.price, type: 'hidden'
      = f.submit t('.submit')
    %p{class: "description_book"}= @book.description
  .reviews
    .title
      %h2 Reviews
      - if current_user
        = link_to t('.add_review'), new_book_rating_path(@book)
    - @ratings.each do |rating|
      .rating
        %h3 #{rating.rating} #{t('.rating_qty')}
        %h3{class: 'rating_title'}= rating.title
        %h5{class: 'rating_date'}= rating.created_at.strftime("%B %e, %Y")
        %p #{t('.by')} #{rating.customer.email}
        %p= rating.review
