.container
  = render "payment_header"

  .address
    .name_columns_checkout
      %h2{class: 'checkout_title'}= t('.checkout')
      = link_to t('.address'), checkouts_edit_address_path, class: 'link_address_title'
      = link_to t('.delivery'), checkouts_choose_delivery_path, class: 'link_address_title'
      = link_to t('.payment'), checkouts_confirm_payment_path, class: 'link_address_title'
      %h4{class: 'confirm_title'}= t('.confirm')
      %h4{class: 'complete_title'}= t('.complete')
    .confirm_block
      %h3= t('.confirm')
      .billing_info_block
        %h4
          #{t('.bill_addr')}
          = link_to t('.edit'), checkouts_edit_address_path
        %p #{@billing_address.firstname} #{@billing_address.lastname}
        %p #{@billing_address.street_address}
        %p #{@billing_address.city} #{@billing_address.zipcode}
        %p #{@billing_address.country}
        %p #{t('.phone')} #{@billing_address.phone}
      .shipping_info_block
        %h4
          #{t('.shipp_addr')}
          = link_to t('.edit'), checkouts_edit_address_path
        %p #{@shipping_address.firstname} #{@shipping_address.lastname}
        %p #{@shipping_address.street_address}
        %p #{@shipping_address.city} #{@shipping_address.zipcode}
        %p #{@shipping_address.country}
        %p #{t('.phone')} #{@shipping_address.phone}
      .delivery_info_block
        %h4
          #{t('.shipments')}
          = link_to t('.edit'), checkouts_choose_delivery_path
        %p #{@order.delivery.title}
      .credit_card_info_block
        %h4
          #{t('.payment_info')}
          = link_to t('.edit'), checkouts_confirm_payment_path
        %p #{t('.stars')} #{@order.credit_card.number.last(4)}
        %p #{@order.credit_card.expiration_month}#{t('.slash')}#{@order.credit_card.expiration_year}
    .order_items_confirm
      .name_columns
        %h5{class: "book_column"}= t('.book')
        %h5{class: "price_column"}= t('.price')
        %h5{class: "qty_column"}= t('.qty')
        %h5{class: "total_column"}= t('.total')
      - @order.order_items.each do |order_item|
        .order_item{id: order_item.id}
          %image{src: order_item.book.image, class: "book_ico"}
          .block_title_description
            %h4= order_item.book.title
            %p= order_item.book.description
          .block_info_item
            %h4{class: "book_price"}= number_to_currency(order_item.book.price)
            %h4{class: "order_item_qty_info_confirm"}= order_item.quantity
            %h4{class: "total_book_price"}= number_to_currency(order_item.price)
    .order_price_info_confirm
      %h5{class: 'subtotal_overview'} #{t('.subtotal')} #{number_to_currency(@order_items_price)}
      %h5 #{t('.shipping')} #{number_to_currency(@order.delivery.price)}
      - if @order.discount
        %h5{class: 'discount_overview'} #{t('.discount')} #{number_to_currency(@order.discount.amount)}
    .order_total_price_info_confirm
      %h5 #{t('.order_total')} #{number_to_currency(@order.total_price)}
  
    = button_to t('.place_order'), checkouts_confirmation_path, method: :get, class: 'place_order btn btn-primary'