.container

  =render 'header'

  .order_items
    %h1{class: 'cart_title_order_item'}= t('.cart')
    .name_columns
      %h5{class: "book_column"}= t('.book')
      %h5{class: "price_column"}= t('.price')
      %h5{class: "qty_column"}= t('.qty')
      %h5{class: "total_column"}= t('.total')
    - @order_items.each do |order_item|
      .order_item{id: order_item.id}
        %image{src: order_item.book.image, class: "book_ico"}
        .block_title_description
          %h4= order_item.book.title
          %p{class: 'description_order_item'}= order_item.book.description
        %h4{class: "book_price"}= number_to_currency(order_item.book.price)
        %input{class: "order_item_books_qty", type: "number", value: "#{order_item.quantity}", min: 1, max: order_item.book.stock_qty}
        %h4{class: "total_book_price"}=  number_to_currency(order_item.total_price)
        = link_to t('.delete_order_item'), order_item_path(order_item.id), method: :delete, class: 'delete_item close'
  .tools
    .total_price
      %h5{class: "subtotal"}
        = t('.subtotal') 
        %h4{class: "total_order_price"}= number_to_currency(@order_items_price)
      - if @order.discount
        %h5{class: "subtotal"}
          = t('.discount') 
          %h4{class: "total_order_price"}= number_to_currency(@order.discount.amount)
    .control_panel
      = link_to t('.btn_empty_cart'), clear_cart_order_items_path, method: :delete, class: "clear btn btn-primary"
      = link_to t('.btn_continue_shipping'), books_path, method: :get, class: "back_to_shop btn btn-primary"
      = simple_form_for @discount, url: add_discount_order_path(@order.id), method: :patch do |f|
        = f.input :code, label: false, placeholder: 'coupon code', minlength: 6, maxlength: 6, input_html: { class: "coupon_code" }
        = f.submit t('.submit_dicount'), class: 'update_discount btn btn-primary'
      - unless @order_items.empty?
        = link_to t('.checkout'), edit_address_path, method: :get, class: "confirm btn btn-primary"

